.app__nav {
  width: 400px;
  display: flex;
  align-items: center;
  margin-left: 30px;
}

.nav__contacts {
  margin-left: 20px;
}

.nav__link,
.nav__contacts {
  display: flex;
  align-items: center;

  font-size: 20px;

  list-style: none;
  text-decoration: none;
  transition: 250ms linear;
}

.nav__link:hover,
.nav__contacts:hover {
  transform: scale(1.1);
}
